attrs
beautifulsoup4
bs4
certifi
cffi
dynaconf
et-xmlfile
exceptiongroup
h11
html5lib
idna
lxml
numpy
openpyxl
outcome
pandas
pycparser
PySocks
python-dateutil
pytz
selenium
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
urllib3
webencodings
wsproto
psycopg
